 *{
              margin:0px;
              padding: 0px;
              box-sizing:border-box;
 }
          body
          {
              font-family:serif;
            background:url("assets/images/overlay.png"),url("assets/images/bg.jpg");
              background-color:#212931;
              background-blend-mode:overlay;
              background-size:cover;
              background-attachment: fixed;
              background-position:top;
              background-repeat:no-repeat;
              display: flex;
              flex-direction: column;
              gap: 30px;
              padding:0% 12%;
          }
          header{
              margin-top:15%;
              display:flex;
              flex-direction:column;
              justify-content:center;
              align-items:center;
          }
          header .menu{
              display:none;
          }
          header h1{
              display: block;
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              text-transform:uppercase;
              text-align:center;
              letter-spacing:5px;
              font-weight:800;
              font-size: 4em;
              line-height:1.2em;
              color:#ffffff;
              padding: 12.5% 20% 0% 20%;
          }
          h3{
              font-style:italic;
              font-weight:100;
              font-size:25px;
              text-align:center;
              color:#ffffff;
              line-height:40px;
              padding:2% 12%;
          }
          h3 span
          {
            border-bottom: 1px dotted gray;
          }
          header i
          {
              color:white;
              font-size: 50px;
              padding: 30px;
          }
          .body{
              display: flex;
              flex-direction: column;
          }
          .navbar
          {
              display: flex;
              flex-wrap: wrap;
              background:rgba(65, 72, 78, 0.644);
          }
          .navbar .navitem{
              display: flex;
              flex-basis: 70%;
          }
          .navitem i{
              display: none;
          }
          .navbar .navitem a{
              padding: 20px;
              margin-right: 30px;
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              font-size:12px;
              font-weight: 900;
              color: white;
          }
          .navbar .navitem a:nth-child(1)
          {
              background-color: white;
              color:black;
          }
          .navbar .icons{
              display: flex;
              flex-basis: 30%;
              justify-content: flex-end;
              align-items: center;
          }
          .navbar .icons i{
              color:white;
              padding-right: 10%;
              font-size: 20px;
          }
          .container{
              background-color:white;
              display: flex;
              flex-direction: column;
          }
          #section1{
              display: flex;
              justify-content: center;
              padding: 80px 0px;
          }
          #section1 hr{
              height: 2px;
              width:30%;
              background-color:#eeeeee;
              border:none;
              position:relative;
              top:10px;
          }
          #section1 p{
              padding:0px 40px;
              font-size: 18px;
              font-weight: 500;
              color: #717981;
          }
          .section2{
              display: flex;
              flex-direction: column;;
              text-align: center;
          }
          .section2 h2{
              color:#1e252d;
              font-weight: 800;
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              font-size:3.5em;
              padding:0px 20%;
          }
          .section2 p{
              font-family:"Merriweather", Georgia, serif;
              font-style:italic;
              font-size: 17px;
              padding:2% 26%;
              line-height: 2em;
          }
          .section3{
              display:flex;
              flex-direction: column;
              padding:2% 12% 5% 12%;
              justify-content:center;
              align-items: center;
          }
          .section3 img{
              width:100%;
          }
          .btn
          {
              width:25%;
              padding:18px;
              background-color:white;
              border:3px solid black;
              color:black;
              font-weight:800;
          }
          #btn{
              display: flex;
              justify-content: center;
              padding:7%;
              width: 100%;
          }
          .section4{
              display:grid;
              grid-template-columns:repeat(2,1fr);
              justify-content:center;
              align-items: center;
              border:1px solid #eeeeee;
          }
          .col{
              display:flex;
              justify-content:center;
              align-items:center;
              flex-direction:column;
              gap:2em;
              border:1px solid #eeeeee;
              padding: 10%;
          }
          .col h2{
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              color:#1e252d;
              font-weight: 800;
              font-size:30px;
              text-align: center;
          }
          .col img{
              padding:10px;
              width: 100%;
          }
          .col p{
              font-family:"Merriweather", Georgia, serif;
              text-align:justify;
              color:#717981;
              font-size:18px;
              padding:10px;
              line-height: 1.8em;

          }
          .col button{
              padding:15px;
              background-color: white;
              text-decoration: none;
              color: black;
              border:3px solid black;
              font-weight: 900;
          }
          .section5{
              display:flex;
              justify-content: center;
              flex-wrap: wrap;
              padding:5%;
          }
          .section5 div{
              border:1px solid #eeeeee;
              display:flex;
              justify-content: center;
              align-items: center;
              padding:15px 20px;
              font-weight: bold;
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              font-size:15px;
          }
          .section5 div:nth-child(1){
              background-color:#eeeeee;
          }
          .section6{
              display:flex;
              background-color: #f5f5f5;
          }
          .section6 #form{
              border-right:2px solid #e2e2e2;
              flex-basis: 50%;
              padding:2% 5%;
          }
          #form h4{
              padding-top:20px;
              color: #717981;
              font-weight: 800;
              font-size: 12px;
              font-family: "Source Sans Pro", Helvetica, sans-serif;
          }
          .section6 #form input{
              width:100%;
              padding: 2.5%;
              background: none;
              border: 2px solid #e2e2e2;
          }
          .section6 #form textarea{
              width:100%;
              background:none;
              border: 2px solid #e2e2e2;
          }
          .bttn{
              padding:8% 0px;
          }
          #form button{
              border:2px solid black;
              background:none;
              padding:3% 4%;
              font-weight: bold;
          }
          #address{
              flex-basis: 50%;
              display: grid;
              grid-template-columns: 4 1fr;
          }
          .item{
              display: flex;
              width:100%; 
              border-top:2px solid #e2e2e2;
              justify-content: start;
              align-items: center;
              padding: 5%;             
          }
          #address .item:nth-child(1){
              border:none;
          }
          #address .item:nth-child(2) p{
             text-decoration: underline;
             text-decoration-style: dotted;
             text-decoration-color:gray;
          }
          #address .item:nth-child(3) p{
               text-decoration: underline;
             text-decoration-style: dotted;
             text-decoration-color: gray;
             
          }
          .item h4{
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              font-size: 12px;
              color: #717981;
              font-weight: 800;
              padding-left:10%;
              }
          .item p{
              text-align:left;
              font-size: 14px;
              color:#909498;
              font-family: "Georgia", serif;
              padding:0% 30% 0% 10%;
          }
          .item:nth-child(1) p{
              line-height: 30px;
              position: relative;
              top:12px;
          }
          .item .icons{
              color:gray;
              display: flex;
              flex-wrap: wrap;
              padding-left: 5%;
          }
          .item .icons i{
              border:2px solid  #d1d1d1;
              border-radius: 50%;
              padding:8px;
              margin-left: 10px;
          }
         .item .icons i:nth-child(2){
             padding:8px 11px;
          }
          footer{
              display: flex;
              justify-content:center;
              padding-top:2%;
              padding-bottom: 10%;
          }
          footer h4{
              font-family: "Source Sans Pro", Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 800;
              border-right:2px solid #717981;
              color:#717981;
              padding:0% 1.5%;
          }
          footer h4:nth-child(3){
              border:none;
              text-decoration: underline;
              text-decoration-color:#717981 ;
          }
          footer h4:nth-child(2){
              text-decoration: underline;
              text-decoration-color:#717981 ;
          }
          